{
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 2017,
  },
  
  "rules": {
      "semi": ["error", "always"],
      "quotes": ["error", "double"]
  },
  
  "env": {
    "node": true,
    "jasmine": true,
  }
}